@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 245, 245;
  --purple: #3936E5;
  --gray: #E3E3E7;
  --mid-gray: #808080;
  --dark-gray: #6B6D7A;
  --off-white: #F1F1F2;
  --green: #1C291D;
  --slate: #282B39;
  --sage: #BACBCA;
  --sand: #B6956D;
  --arrow-color: 0, 0, 0;
  --arrow-white: 255, 255, 255;
  --whiteFade: rgba(255, 255, 255, 0.4);
  --blackFade: rgba(0, 0, 0, 0.2);
  --fuchsia: #ff00ff;
}

/* global styles */

/* testing */
/* .cta-text,
.cta-btn,
.arrow-btn {
  border: 1px dashed rgba(255, 0, 0, 0.31);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed rgba(255, 0, 0, 0.31); */
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

nav {
  z-index: 99;
}

input::placeholder {
  color: var(--dark-gray);
  font-weight: 300;
}

Link:hover {
  color: var(--purple);
}

.header {
  height: 100vh;
}

.image-container,
.cart,
.login,
.arrow,
.arrow-lg,
.heart,
.bag {
  cursor: pointer;
}

/* product lg image zoom */

.image-container {
  position: relative;
  overflow: hidden;
}

.zoom-able {
  transition: transform .5s ease;
}

.zoom-able:hover {
  transform: scale(1.2);
}

.item-title {
  transition: opacity 0.3s ease-in-out;
}

.product:hover .zoom-able+.item-title {
  opacity: 0;
}

.footer .footer-items a {
  color: var(--whiteFade);
  line-height: 1.8;
  font-size: 14px;
}

/* media queries */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  body {
    color-scheme: dark light;
  }

  nav,
  a,
  .mobile-menu-toggle,
  .text,
  .search,
  .email-lbl,
  .pwd-lbl,
  .sub-heading,
  .border-edge,
  .arrow,
  .arrow-white,
  .heart,
  .bag {
    --webkit-filter: invert(1);
    filter: invert(1)
  }

  .logo {
    --webkit-filter: brightness(2);
    filter: brightness(2)
  }

  #menu,
  .search-icon,
  .login-signup,
  .mobile-nav-items,
  .footer-items li a,
  .products,
  .heart:active,
  .map {
    --webkit-filter: none;
    filter: none;
  }

}

@media (prefers-color-scheme: light) {
  body {
    color-scheme: light dark;
  }

  .shop-all-box {
    border-color: var(--blackFade);
  }
}

@media (max-width: 320px) {
  body {
    margin: 0;
  }

  .nav-strip {
    margin: 0;
    padding: .5rem 0;
    flex-wrap: nowrap;
    width: max-content;
  }

  .mobile-menu-toggle {
    margin-left: -1rem;
    margin-right: 0;
  }

  .logo {
    position: absolute;
    left: -5rem;
    padding-left: -3rem;
  }

  .search {
    margin-left: .5rem;
    width: 100%;
  }
}

@media (max-width: 375px) {
  body {
    margin: 0 auto;
  }

  .nav-strip {
    padding: 1rem 1.4rem;
    flex-wrap: nowrap;
    max-width: 100%;
  }

  .logo {
    /* position: absolute; */
    margin-right: 0;
    padding-left: 2rem;
  }

  .search {
    margin: 0;
    margin-top: -1rem;
    position: relative;
  }

  .search input {
    width: 100%;
    margin: 0px 1rem;
    padding: 1rem;
    box-sizing: border-box;
  }

  .search-icon {
    position: absolute;
    top: 0%;
    left: 0;
    transform: translateY(-50%);
  }

  .menu-label {
    display: none;
  }
}

/* pesky iPhone 12 Pro */
@media (max-width: 390px) and (max-height: 844px) {

  .nav-strip {
    padding: 1rem 0;
    flex-wrap: nowrap;
    max-width: 100%;
  }

  .mobile-menu-toggle {
    margin: 0;
  }

  .menu-label {
    display: none;
  }

  .logo {
    /* position: absolute; */
    margin-right: 0;
    padding-left: 1rem;
  }

  .search {
    margin: 0;
    margin-top: -1rem;
    position: relative;
  }

  .search-icon {
    position: absolute;
    top: -5%;
    left: 0;
    transform: translateY(-50%);
  }
}

@media (max-width: 414px) {

  .nav-strip {
    padding: 1rem 1rem;
    flex-wrap: nowrap;
    max-width: 100%;
  }

  .header-container {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .cta-now {
    margin: .5rem auto;
  }

  .hero-text {
    font-size: 80px;
  }

  .hero-tagline {
    font-size: 32px;
    padding-bottom: 1rem;
  }

  .signup {
    width: 100%;
  }

  .signup .email-input,
  .pwd-input {
    width: 100%;
  }

}

@media (max-width: 505px) {
  .header-container {
    padding-top: 14rem;
  }

  .product {
    margin: 1rem;
  }

  .product-image {
    margin: 1rem;
    object-fit: contain;
  }
}


@media (max-width: 640px) {
  .nav-strip {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    margin-left: auto;
  }

  .search-bar-container {
    flex-basis: 100%;
    margin-top: 10px;
    margin-right: auto;
  }

  .login-dropdown {
    margin-top: 8rem;
  }

}

/* @media (max-width: 834px) {

  .header-wrapper {
    padding-top: 20rem;
  }

  .hero-text {
    padding-top: -24rem;
  }

}

@media (max-width: 1024px) {

  .header-wrapper {
    padding-top: 40rem;
    margin-top: 0;
  }
} */