@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 245, 245;
  --purple: #3936E5;
  --gray: #E3E3E7;
  --mid-gray: #808080;
  --dark-gray: #6B6D7A;
  --off-white: #F1F1F2;
  --racing-green: #1C291D;
  --navy-blue: #282B3A;
  --sage: #BACBCA;
  --sand: #B6956D;
  --arrow-color: 0, 0, 0;
  --arrow-white: 255, 255, 255;
  --white-fade: rgba(255, 255, 255, 0.5);
  --fuchsia: #ff00ff;
}

/* media queries */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  body {
    color-scheme: dark light;
  }

  nav,
  a,
  .text,
  .search,
  .sub-heading,
  .border-edge,
  .arrow,
  .arrow-white,
  .heart,
  .bag {
    filter: invert(1)
  }

  .logo {
    filter: brightness(2)
  }

  #menu,
  .mobile-nav-items,
  .footer-items li a,
  .products,
  .map {
    filter: none;
  }

}

@media (prefers-color-scheme: light) {
  body {
    color-scheme: light dark;
  }
}

@media (max-width: 640px) {
  .nav-strip {
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    margin-left: auto;
  }

  .search-bar-container {
    flex-basis: 100%;
    margin-top: 10px;
    margin-right: auto;
  }

}

/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed red; */
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

nav {
  z-index: 99;
}

input::placeholder {
  color: var(--dark-gray);
  font-weight: 300;
}

Link:hover {
  color: var(--purple);
}

.cart,
.login,
.arrow,
.arrow-lg,
.heart,
.bag {
  cursor: pointer;
}

.header {
  height: 100vh;
}

.footer .footer-items a {
  color: var(--white-fade);
}