/* NavBar.module.css */
.menu {
  font-size: 18px;
  margin-left: 0;
  margin-top: 1rem;
}

@media (max-width: 1300px) {
  .mobile-nav {
    display: flex;
  }

  .nav-items {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-nav {
    display: block;
  }
}

@media (min-width: 375px) {
  .mobile-nav {
    display: block;
  }
}